* {
  background-color: black;
}

h1, h2, h3, p {
  font-family: Verdana;
  text-align: center;
  font-weight: normal;
}

#head h1 {
  font-weight: normal;
  color: white;
  font-size: 50px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.info h1 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}

h2 {
  color: Gray;
  font-size: 21px;
}

.images {
  text-align: center;
  margin-bottom: 25px;
}

#copyright p {
  color: Gray;
  text-align: right;
}

video {
  margin: 0 auto;
  display: block;
}
